POSTGRES_DB=comvy_local
POSTGRES_USER=comvy
POSTGRES_PASSWORD=comvy_local_only
POSTGRES_HOST_PORT=5433
PLATFORM_ADMIN_EMAIL=admin@local.comvy
PLATFORM_ADMIN_PASSWORD=ComvyLocal123!
JWT_KEY=comvy-local-development-key-32-bytes-minimum
